@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import "tailwindcss";
:root {
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}
body {
  position: relative;
}
.custom-grid {
  grid-auto-rows: 1fr;
}
